[submodule "ansible/roles/nebula-role"]
	path = ansible/roles/nebula-role
	url = git@github.com:isi-lincoln/nebula-role.git
[submodule "ansible/roles/etcd"]
	path = ansible/roles/etcd
	url = git@github.com:isi-lincoln/ansible-etcd.git
